<nav class="navbar navbar-expand-lg  navbar-light  bg-white">
  <div class="container-fluid">
    <a class="navbar-brand" href="https://www.tafarrod.sa">
      <img
        src="../../../assets/images/logo.jpg"
        alt="مكتب التفرد للاستقدام"
        class="w-25"
      />
    </a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarText"
      aria-controls="navbarText"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarText">
      <ul class="navbar-nav d-flex justify-content-center align-items-center text-end flex-row-reverse ms-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" routerLink="/home">
            الرئيسية
          </a>
        </li>
        <li class="nav-item dropdown">
          <a
            class="nav-link dropdown-toggle"
            href="#"
            id="navbarDropdown"
            data-bs-toggle="dropdown"
          >
            خدماتنا
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li>
              <a
                class="dropdown-item"
                href=""
                >طلب استقدام
              </a>
            </li>
            <li>
              <a
                class="dropdown-item"
                href=""
                >طلب نقل خدمات
              </a>
            </li>
          </ul>
        </li>
        <li class="nav-item dropdown">
          <a
            class="nav-link dropdown-toggle"
            href="#"
            id="navbarDropdown"
            data-bs-toggle="dropdown"
          >
            رحلة الاستقدام
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li>
              <a
                class="dropdown-item"
                href=""
                >تعاقد الاستقدام
              </a>
            </li>
            <li>
              <a
                class="dropdown-item"
                href=""
                >وصول العمالة
              </a>
            </li>
            <li>
              <a
                class="dropdown-item"
                href=""
                >اختيار العمالة
              </a>
            </li>
          </ul>
        </li>
        <li class="nav-item dropdown">
          <a
            class="nav-link dropdown-toggle"
            href="#"
            id="navbarDropdown"
            data-bs-toggle="dropdown"
          >
            عن الاستقدام
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li>
              <a
                class="dropdown-item"
                href=""
                >سياسات الاستقدام
              </a>
            </li>
            <li>
              <a
                class="dropdown-item"
                href=""
                >مبادرة مساند
              </a>
            </li>
          </ul>
        </li>
        <li class="nav-item dropdown">
          <a
            class="nav-link dropdown-toggle"
            href="#"
            id="navbarDropdown"
            data-bs-toggle="dropdown"
          >
            الدعم
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li>
              <a
                class="dropdown-item"
                href=""
                >المقالات
              </a>
            </li>
            <li>
              <a
                class="dropdown-item"
                href=""
                >مركز المساعدة
              </a>
            </li>
            <li>
              <a
                class="dropdown-item"
                routerLink="/contact"
                >تواصل معنا
              </a>
            </li>
            <li>
              <a class="dropdown-item" href=""
                >خدمة العملاء
              </a>
            </li>
          </ul>
        </li>
        <li class="nav-item">
          <a
            class="nav-link"
            routerLink="/login"
            ><span></span> تسجيل الدخول
          </a>
        </li>
        <li class="nav-item dropdown">
          <a
            class="nav-link"
            onclick="change_lang_new('en')"
            href="javascript:void(0)"
          >
            <img
              src="https://www.tafarrod.sa/public/assets_v2/img/en.svg"
              class="mx-2"
              width="18px"
            />
            English
          </a>
        </li>
        <li class="nav-item ms-lg-auto">
          <a
            href=""
            class="defaultBtn"
          >
            طلب الاستقدام
          </a>
        </li>
      </ul>
    </div>
  </div>
</nav>
